<!-- <div class="center">
    <div class="logo"> 
        <img src="/assets/logors.png"/> 
        <h1>Juntos pelo Rio Grande do Sul</h1>
    </div>
    <div class="menu">
        <a href="#" onclick="loadPage('/pages/home.html'); return false;">Início</a>
        <a href="#" onclick="loadPage('/pages/guaiba.html'); return false;">Nível do Guaíba</a>
        <a href="#" onclick="loadPage('/pages/veiculos.html'); return false;">teste</a>
    </div>
</div>  -->

<header>
    <div class="center">
        <div class="logo"> 
            <img src="/assets/logors.png"/> 
            <h1>Juntos pelo Rio Grande do Sul</h1>
        </div>
        <nav class="menu">            
            <ul><a href="/pages/home.html">Início</a></ul>
            <ul><a href="/pages/guaiba.html">Nível do Guaíba</a></ul>
            <ul><a href="/pages/abrigos.html">Abrigos</a></lu>
            <ul><a href="/pages/estradas.html">Estradas</a></lu>
        </nav>
    </div>
</header>